{% extends "layout.html" %}
{% block main %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js" integrity="sha512-MgkNs0gNdrnOM7k+0L+wgiRc5aLgl74sJQKbIWegVIMvVGPc1+gc1L2oK9Wf/D9pq58eqIJAxOonYPVE5UwUFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">let myContact = {{contact.contact_id }};</script>
<script type="text/javascript" src="{{url_for('static', filename='socket.js')}}"></script>

    <div class="card" id="chat3" style="border-radius: 15px;">
        <div class="card-body">
            <div>
                <div class="pt-3 pe-3" data-mdb-perfect-scrollbar="true">
                    <div id = "chats">
                        {% for message in user.messages %}
                          {% if message.sentBy == user.id %}

    {#                        <div class="d-flex flex-row justify-content-start">#}
    {#                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"#}
    {#                                alt="avatar 1" style="width: 45px; height: 100%;">#}
    {#                            <div>#}
    {#                                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">{{message.content}}</p>#}
    {#                                <p class="small ms-3 mb-3 rounded-3 text-muted float-end">{{message.sentAt}}</p>#}
    {#                            </div>#}
    {#                        </div>#}

                            <div class="d-flex flex-row justify-content-start">
    {#                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"#}
    {#                                alt="avatar 1" style="width: 45px; height: 100%;">#}
                                <div>
                                    <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">{{message.content}}</p>
                                    <p class="small ms-3 mb-3 rounded-3 text-muted float-end">{{message.sentAt}}</p>
                                </div>
                            </div>

                          {% else %}

                            <div class="d-flex flex-row justify-content-end">
                                <div>
    {#                                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">bye</p>#}
                                    <p class="small p-2 me-3 mb-1 rounded-3" style="background-color: blue;">{{message.content}}</p>
                                    <p class="small me-3 mb-3 rounded-3 text-muted float-end">{{message.sentAt}}</p>
                                </div>
    {#                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"#}
    {#                                alt="avatar 1" style="width: 45px; height: 100%;">#}
                            </div>
                    </div>

                            {% endif %}
                        {% endfor %}
{#                    {% endif %}#}
{#                    {% endfor %}#}

                    <div class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp" alt="avatar 3"
                            style="width: 40px; height: 100%;">
                        <input type="text" class="form-control form-control-lg" id = "message" autofocus placeholder="Type message">
    {#                    <a class="ms-1 text-muted" href="#"><i class="fas fa-paperclip"></i></a>#}
    {#                    <a class="ms-3 text-muted" href="#"><i class="fas fa-smile"></i></a>#}
                        <button class="ms-3 btn btn-success" id = "sendmsg">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}