{% extends "layout.html" %}

{% block title %} Delete {% endblock %}

{% block main %}
    <form method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="contact">
                <option disabled selected>Contacts</option>
                {% for contact in contacts %}
                    <option value ="{{ contact.id }}">{{ contact.name }}</option>

                {% endfor %}
            </select>
        </div>

        <button class="btn btn-danger" type="submit">Delete</button>
    </form>
{% endblock %}